/* Reset Estilos */
* {
    padding: 0px;
    margin: 0px;
    outline: 2px dashed black;
    /* ATENCION */
}

/* ETIQUETA */
body {
    padding: 16px;
    background-color: rgb(137, 137, 137);
}

p {
    color: blueviolet
}

h1 {
    text-align: center;
}

/* CLASE */
.caja {
    border: 2px solid black;
    margin: 16px 0px;
    border-radius: 16px;
    padding: 8px;
    box-sizing: border-box;
    /* PARA QUE EL ELEMENTO NO SE CREZCA CON PADDING O BORDER */
    overflow: auto;
    display: inline-block;
}

.caja-sm {
    height: 80px;
    width: 80px;
}

.caja-md {
    height: 120px;
    width: 120px;
}

.caja-lg {
    height: 160px;
    width: 160px;
    border-color: red;
}


/* SELECTOR DE HERENCIA */
.caja-sm p {
    color: white;
    font-size: 0.5rem;
}

.caja-lg>p {
    color: white;
    font-size: 0.8rem;
    text-align: center;
    color: orange;
}

.caja-lg>div>p {
    color: white;
}

.caja>*>p {
    text-align: center;
    text-decoration: underline;
}

/* PROPIEDADES DEL DISPLAY */

#propiedades-display h2 {
    color: white;
    display: inline;
}
#propiedades-display h3 {
    color: aqua;
    display: inline-block;
}